<div id="categories">{{- '' -}}
    <div id="categories_container">
        {%- for category in categories -%}
        <div class="category"><a><input type="checkbox" id="checkbox_{{ category|replace(' ', '_') }}" name="category_{{ category }}"{% if category in selected_categories %} checked="checked"{% endif %}/><label for="checkbox_{{ category|replace(' ', '_') }}" class="tooltips">{{ _(category) }}</label></a></div>
        {%- endfor -%}
        {%- if display_tooltip %}<div class="help">{{ _('Click on the magnifier to perform search') }}</div>{% endif -%}
    </div>{{- '' -}}
</div>
<style>
#categories{

 position: absolute;
 top:0;
 left: 0;

}
.category input[type="checkbox"]:checked + label {
 
    background: white!important;
    color: black !important;
    opacity: 0.7!important;
    border-radius: 5px;
}
.category label{

    color: white !important;
}
#categories_container{
 padding: 5px;
} @media (max-width: 700px) { #categories_container{
  display: flex!important;flex-wrap: wrap; justify-content: center;
  
}.category {
  display: block;
  width: 70px !important;
}}
</style>
