{% extends "simple/base.html" %}
{% from 'simple/macros.html' import icon %}
{% block meta %}
	<link rel="preload" href="{{ url_for('static', filename='img/searx.png') }}" as="image" />
{% endblock %}
{% block content %}

<div >

    <div >
      
        
        <div >
            {% include 'simple/search.html' %}
          <div>
        
      </div>

   <style>
h1, h2 ,h3 ,h4 , a , p , span , * {
  font-family: 'Montserrat', sans-serif!important;
}
   </style>
    
</div>
{% endblock %}
