<form class="backgroundImg" id="search" method="{{ method or 'POST' }}" action="{{ url_for('search') }}">
  <h1 style="position: relative;
  top:80px; color:white ; text-align:center ;font-size: 55px;">MCD Search</h1>
  <div id="search_wrapper">

    <div class="d-flex" >
      <input id="q" {% if autofocus %}autofocus{% endif %} name="q" type="text" placeholder="{{ _('Search for...') }}" tabindex="1" autocomplete="off" spellcheck="false" dir="auto" {% if q %}value="{{ q }}"{% endif %} >
    
      <button id="send_search" type="submit" tabindex="-1"><span class="hide_if_nojs">{{ icon('search') }}</span><span class="show_if_nojs">{{ _('Start search') }}</span></button>
    </div>
    <div class="search_filters">
      {% include 'simple/languages.html' %}
      {% include 'simple/time-range.html' %}
    </div>
  </div>
  {% set display_tooltip = true %}
  {% include 'simple/categories.html' %}
  <input type="hidden" name="safesearch" value="{{ safesearch }}" >
  <input type="hidden" name="theme" value="{{ theme }}" >
  {% if timeout_limit %}<input type="hidden" name="timeout_limit" value="{{ timeout_limit|e }}" >{% endif %}
</form>
<style>
  .d-flex{
    display: flex;
  }
  #search_wrapper #q{
    width:  48vh;
    border:none!important;
  }
  #clear_search, #send_search{
    border:none!important;
  }
  #search_wrapper{
    position: relative;
  top:90px;
    max-width: 50% ;
    padding: 0 10px;
    background: white;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
.backgroundImg{
  background: url("https://mcd.m-code.net/uploads/image/website/303a978b-5c8c-4711-ade1-5f738c1567281675614228094.jpeg")!important;
    width:100%;
  height:500px;
}
.backgroundImg{
  color:white;
  padding:10px;
  background-size: cover!important;
  font-family:roboto;
  display:flex;
  flex-direction: column;
  align-items:center;
}
.d-flex{
  display:flex;
  width:100%;
}
.searchblock{
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
  background:white;
  width:350px;
}
@media (max-width: 700px) {   #search_wrapper #q{
    width:  80vh;
    border:none!important;
  }
  #clear_search, #send_search{
    border:none!important;
  }
  #search_wrapper{
    position: relative;
  top:90px;
    max-width: 90% ;
    padding: 0 10px;
    background: white;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     box-shadow: 0 0 5px rgba(0,0,0,0.5);
  } }

</style>